.menu {
  position: fixed;
  width: 100%;
  background: linear-gradient(#f3efe400, #f3efe4 80%);
  bottom: -1px;
  margin: 0;
  padding: 0;
  z-index: 100;

  &__inner {
    max-width: 1240px;
    margin: 0 auto;
    height: 100%;
  }
}
