.wrapper {
  background-color: #fff;
  max-width: 1240px;
  height: 100vh;
  border-radius: 40px 40px 0 0;
  margin: 82px auto 0;
  padding: 20px 25px;

  h2 {
    font-size: 24px;
  }
}

.actionButtons {
  button {
    font-size: 16px;
  }
}
.audio {
  position: fixed;
  bottom: 20px;
}

.leaveButton {
  color: #ff656d !important;
  line-height: 32px;
  font-weight: 600;

  img {
    position: relative;
    top: 3px;
    margin-right: 5px;
  }
}

.users {
  padding: 30px 30px 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 20px;
}
