.button {
  svg {
    transition: 0.1s;
  }

  &:hover,
  &:active,
  &:focus-visible {
    svg {
      stroke: black;
    }
  }
}

.module {
  display: flex;
  gap: 2.5rem;
  align-items: center;
}
