.codeInput {
  width: auto !important;

  div:nth-child(1) {
    display: grid;
    grid-auto-flow: column;
    gap: 5px;

    input {
      background: #ffffff;
      border: 1px solid #e3e3e3;
      box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.03);
      border-radius: 20px;
      width: 60px !important;
      height: 60px !important;
      font-family: inherit;
      font-size: 22px;
      font-weight: bold;
      color: transparent;
      caret-color: transparent;
      text-shadow: 0 0 0 #000000;
      line-height: 1;
      text-align: center;
      transition: all 0.1s linear;

      &:focus {
        border: 2px solid #5677ad;
        outline: none;
      }
    }
  }
}

.failed {
  div {
    input {
      animation-name: error-animation;
      animation-duration: 0.5s;
      animation-iteration-count: 1;
    }
  }
}

@keyframes error-animation {
  0% {
    border: 3px solid #ea4335;
  }
  100% {
    border: 1px solid #e3e3e3;
  }
}
