.d-ib {
  display: inline-block;
}

.d-flex {
  display: flex;
}

.d-i-flex {
  display: inline-flex;
}

.d-grid {
  display: grid;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-flex-end {
  justify-content: flex-end;
}

.justify-content-evenly {
  justify-content: space-evenly;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-end {
  align-items: flex-end;
}

.align-items-center {
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.flex-auto {
  flex: 1 1 auto;
}

.m-auto {
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.cup {
  cursor: pointer;
}
