$sides: (
  'top': 't',
  'right': 'r',
  'bottom': 'b',
  'left': 'l',
);

@each $side, $letter in $sides {
  @for $px from 0 through 100 {
    .m#{$letter}-#{$px} {
      margin-#{$side}: #{$px}px !important;
    }

    .p#{$letter}-#{$px} {
      padding-#{$side}: #{$px}px !important;
    }
  }
}

@for $px from 0 through 100 {
  .g-#{$px} {
    gap: #{$px}px !important;
  }
}

.p-30 {
  padding: var(--spacing--30);
}

.p-20 {
  padding: var(--spacing--20);
}

.pv-40 {
  padding: 0 var(--spacing--40);
}

.p-30 {
  padding: var(--spacing--30);
}

.pv-30 {
  padding: 0 var(--spacing--30);
}

.ph-40 {
  padding: var(--spacing--40) 0;
}

.pb-20 {
  padding-bottom: var(--spacing--20);
}
