@import "./normalize";
@import "./display";
@import "./spacing";

::-webkit-scrollbar-track {
  background-color: #f3efe4;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
  background-color: #cccccc;
  border-radius: 5px;
  &:hover {
    background-color: darken(#cccccc, 20%);
  }
}

.container {
  margin: 62px auto;
  padding: 20px 20px 60px;
  max-width: 1240px;
  width: 100%;
}

.roomsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
  gap: 20px;

  @media (max-width: 360px) {
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  }
}

.centering {
  display: flex;
  align-items: center;
  justify-content: center;
}

.link {
  font-weight: 600;
  font-size: 15px;
  color: #4f6fa5;
}

.field {
  min-width: 100px;
  height: 60px;
  background: #ffffff;
  border: 1px solid #e3e3e3;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 0 25px;
  font-size: 20px;
}

.btnWrapper {
  display: flex;
  justify-content: center;

  .btnNext {
    svg {
      margin-left: 5px;
      transition: 0.1s;
    }

    &:hover {
      background-color: lighten(#5677ad, 2%);

      svg {
        transform: translateX(3px);
      }
    }

    &:active,
    &:focus-visible {
      background-color: darken(#5677ad, 1%);
      transform: translateY(1px);

      svg {
        transform: translateX(3px);
      }
    }
  }
}

.loader {
  display: inline-block;
  margin-left: 5px;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 0.15rem solid rgba(#b1aa97, 0.3);
  border-top-color: white;
  animation: 0.5s spin infinite linear;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
