.input {
  display: inline-block;
  position: relative;
  img {
    position: absolute;
    left: 13%;
    top: 49%;
    transform: translate(-50%, -50%);
  }

  input {
    font-size: 22px;
    max-width: 250px;
    padding-left: 55px;
  }
}

.policyText {
  margin-top: 15px;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
  color: #817f7a;

  @media (max-height: 500px) {
    display: none;
  }
}
