.btnsWrapper {
  display: flex;
  justify-content: space-evenly;
}

.twitterBtn {
  background-color: #1da1f2;

  &:hover {
    background-color: lighten(#1da1f2, 2%);
  }

  &:active,
  &:focus-visible {
    background-color: darken(#1da1f2, 1%);
  }
}

.twitterLogo {
  position: relative;
  top: 1px;
  margin-right: 5px;
}

.githubBtn {
  background-color: #24292e;

  &:hover {
    background-color: lighten(#24292e, 4%);
  }

  &:active,
  &:focus-visible {
    background-color: darken(#24292e, 2%);
  }
}

.githubLogo {
  margin-right: 5px;
}

.skipBtn {
  display: inline-block;
  padding: 0;
  font-weight: 600;
  font-size: 15px;
  color: #4f6fa5;
  background-color: transparent;

  &:hover {
    color: lighten(#4f6fa5, 4%);
  }

  &:active,
  &:focus-visible {
    color: darken(#4f6fa5, 2%);
  }
}
